@charset "UTF-8";
/* CSS Document */
body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
.container{
	max-width:980px;
	margin:0 auto;
	padding-top:50px;
	padding-bottom: 150px;
}
#nav-drawer{
	display:none;
}
.header-wrapper{
	width:100%;
	height:60px;
	height:auto;
	background-color:rgba(255,255,255,0.50);
	position:fixed;
	z-index:10;
	top:0px;
}
.header-left{
	width:50%;
	display:inline-block;
}
.header-left img{
	margin-left:5px;
	margin-top:5px;
}
.header-left img:hover{
	opacity: 0.5;
}
.header-right{
	display:inline-block;
	width:50%;
	float:right;
}
.header-right ul{
	margin-top: 0;
	line-height: 80px;
}
.header-right li{
	float:left;
	width:25%;
	text-align:center;
	list-style:none;
	font-size:20px;
	font-family: balloon-d,sans-serif;
font-weight: 800;
font-style: normal;
}
.header-right a{
	text-decoration: none;
	color:rgba(169,141,108,1.00);
}
.header-right a:hover{
	opacity:0.5;
}
.top-image{
	width: 100vw;
}
.top-image-res{
	display:none;
}
.icon{
	position:absolute;
}
.icon-image{
	width:10%;
	right:5%;
	bottom:5%;
	position:fixed;
	z-index:10;
}
a:hover{
	opacity: 0.5;
}
.concept-wrapper{
	background-color:white;
	text-align:center;
	color:rgba(234,220,193,1.00);
}
h2{
	font-size:200px;
	margin: 0;
	padding: 0;
	font-family: balloon-d,sans-serif;
font-weight: 800;
font-style: normal;
}
h3{
	font-size:30px;
	font-family: balloon-d,sans-serif;
font-weight: 800;
font-style: normal;
}
p{
	font-size:20px;
	font-weight:bold;
}
.concept-wrapper img{
	width:300px;
}
.menu-wrapper{
	background-color:rgba(235,220,194,1.00);
	text-align:center;
	color:white;
}
.menu-wrapper img{
	width:300px;
}
.menu-wrapper ul{
	padding: 0;
	margin: 0;
	width: 50%;
	margin: 0 auto;
	padding-left:10px;
}
.menu-wrapper li{
	font-size:20px;
	font-weight:bold;
	line-height:35px;
	padding: 0;
	margin: 0;
	text-align: left;
}
.menu-wrapper a{
	font-size:30px;
	font-weight:bold;
	color:white;
}
/* 全体のスタイル */
.swiper-wrapper {
	width: 100%;
	height: 250px;
}
/* 全スライド共通スタイル */
.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}


.gallery-wrapper{
	background-color:white;
	width:100%;
}
.gallery-wrapper h2{
	text-align:center;
	color:rgba(235,220,194,1.00);
}

.access-wrapper{
	background-color:rgba(235,220,194,1.00);
	text-align:center;
	color:white;
}
.access-wrapper a{
	color:white;
}
.res-map{
	display:none;
}
a.anchor {
    display: block;
    padding-top: 70px;
    margin-top: -70px;
}


